.page {
  width: 600px;
  height: 1000px;
  background-color: #D3D0CB;
  
  padding: 20px;
  padding-top: 0px;
}

#article_title {
  font-family: "Anton";
  font-size: 50px;
  color: #461220;
  letter-spacing: 7px;
  margin-top: 0px;
  font-weight: 600;
}

#intro {
  font-family: "Oswald";
  font-size: 25px;
  color: #8C2F39;
  line-height: 2.5;
}

.question{
 font-family: "Raleway";
 font-size:20px;
 font-weight: 1000;
 color: #4C5760;
 margin-bottom: 0px;
}

.answer{
 font-family: "Raleway";
 font-size: 20px;
 font-weight: lighter;
 color: #4C5760;
 margin-top: 0px;
}

#block_quote {
  font-family:"Oswald";
  font-size: 30px;
  margin-left:100px;
  margin-right:100px;
  padding-left: 10px;
  border-left:solid;
  border-color: black;
  color: #8C2F39;
}
