.cover {
  width: 350px;
  height: 500px;
  background-color:gray;
  /* finish your styling of the cover div here! */
}
#title {
  font-family: "Source Code Pro";
  padding: 40px;
  padding-bottom:0px;
  font-size: 45px;
  margin-left: 40px;
  margin-right: 40px;
  
  padding: 20px;
}

#subtitle {
  font-family: "Source Code Pro";
  color:aqua;
  font-size: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  
  
}

#cover_image {
  
}
